<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>MemberProcessesServlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>MemberProcessesServlets.Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reminder</servlet-name>
        <servlet-class>MemberProcessesServlets.Reminder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>MemberProcessesServlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>MemberProcessesServlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>MemberProcessesServlets.Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>MemberProcessesServlets.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>ChatProcessesServlets.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupProcesses</servlet-name>
        <servlet-class>GroupProcessesServlets.GroupProcesses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reminder</servlet-name>
        <url-pattern>/Reminder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupProcesses</servlet-name>
        <url-pattern>/GroupProcesses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
